/* Styles pour la barre de navigation */
.navbar-inverse {
    background-color: navy;
    color: #ffffff;
    padding: 10px 20px;
    width: 100%;
}

.navbar-inverse nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-inverse nav ul li {
    display: inline;
    margin-right: 20px;
}

.navbar-inverse nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Styles pour le titre d'inscription */
.inscription_title {
    display: flex;
    justify-content: center;
    height: 10vh;
    color: white;
}

/* Styles pour le formulaire d'inscription */
.page_formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: navy;
}

.inscription_form {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.inscription_form label {
    display: block;
    margin-bottom: 5px;
}

.inscription_form input[type="text"],
.inscription_form input[type="login"],
.inscription_form input[type="email"],
.inscription_form input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.validation_inscription button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.validation_inscription button:hover {
    background-color: #45a049;
}