 .header__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 20px;

 }

 .header__logo {
   padding: 10px 20px;
   background: linear-gradient(to left, #FF8628, #F60B9A, #283CA6, #102243);
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   color: transparent;
   font-weight: 700px;
   font-size: 40px;
   font-family: var(--roboto);
   cursor: default;

 }

 .header__button {
   padding: 9px 20px;
   margin: 0px 2px;
   border-radius: 50px;
   border: none;
   outline: none;
   background: grey;
   color: white;
   font-weight: 500;
   font-size: 16px;
   font-family: var(--open-sans);
   line-height: 23px;
   cursor: pointer;
   width: 120px;
   height: 40px;
 }

 .header__button:hover {
   background-color: blue;
   color: white;
 }

 .header__auth .header__button:nth-child(2):hover {
   background-color: red;
   color: white;
   border: 1px solid var(--secondary-color);
 }

 .header__menu-mobile {
   display: none;
 }