.hero-overview {
  background: url("../../assets/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 350px;
  width: 650px;
  margin-bottom: 20px;

}

.hero-overview__title {
  position: absolute;
  font-family: var(--roboto);
  color: white;
  font-weight: 500;
  font-size: 45px;
}

/*========================================POUR METTRE OVER VIEW DERRIERE LE FORMULAIRE===================================================================*/
/*
.hero-overview__title
{
top: 0;
left: 0;
width: 100%; /* Remplacez par la largeur souhaitée 
height: 100%;*/
/* Remplacez par la hauteur souhaitée 
background: url("../../assets/background.png") center center/cover;
z-index: -1;/* Placez l'image derrière le formulaire 
}

.my-form {
  position: relative;
  z-index: 1;
  /* Placez le formulaire devant l'image */
/* Ajoutez d'autres styles au besoin 
}

*/